<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña - StudyBuddy</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

    <div class="auth-container">
        <h2>Restablecer Contraseña</h2>
        <p>Ingresa tu nueva contraseña.</p>

        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
            <a th:href="@{/login}">Volver al Login</a>
        </div>

        <form th:unless="${error}" th:action="@{/reset}" method="post">
            
            <input type="hidden" th:value="${token}" name="token" />

            <div>
                <label for="password">Nueva Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit">Guardar Nueva Contraseña</button>
        </form>
    </div>

</body>
</html>